.loadingImage {
    width: 100px;
    animation: rotate 3s linear 0s infinite forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}